<h1>Quizzard</h1>

<h2>End of Quiz!</h2>
Well done you finished! :)<br>
Your score: <%= current_player.points %>
<p>Find me in app/views/quiz/join.html.erb</p>

<%= render 'layouts/playersonline.html' %>