<h1>Quizzard</h1>
<p>Find me in app/views/quiz/join.html.erb</p>

<%= Player.all.size %>
<br> Player ID
<%= session[:player_id] %>
<%
    # Pusher['presence_test_channel'].trigger('my_event', {
    #   message: 'hello world welcome to my quiz!'
    # })
%>

<%= render 'layouts/playersonline.html' %>