<div class="col-xs-12">
	<h1 id="mobile-header">~ Quizzard ~</h1>
	<h2 id="mobile-h2">Q:<%= params[:id] %></h2>
</div>
</div>
<div class="row">

<% @questions = Question.all %>

<%= render 'layouts/question' %>

<%= render 'layouts/facebook' %>

Your score: <%= current_player.points %>