// Place all the styles related to the pusher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-bojjx8');
	src:url('fonts/icomoon.eot?#iefix-bojjx8') format('embedded-opentype'),
		url('fonts/icomoon.woff?-bojjx8') format('woff'),
		url('fonts/icomoon.ttf?-bojjx8') format('truetype'),
		url('fonts/icomoon.svg?-bojjx8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lab:before {
	content: "\e600";
}
.icon-bug:before {
	content: "\e601";
}
.icon-rocket:before {
	content: "\e602";
}
.icon-user:before {
	content: "\e603";
}
.icon-music:before {
	content: "\e604";
}
.icon-droplet:before {
	content: "\e605";
}
.icon-pacman:before {
	content: "\e606";
}
.icon-diamonds:before {
	content: "\e607";
}
.icon-spades:before {
	content: "\e608";
}
.icon-facebook:before {
	content: "\e609";
}
.icon-atom:before {
	content: "\e60a";
}
.icon-heart:before {
	content: "\e60b";
}
.icon-cloud:before {
	content: "\e60c";
}
.icon-star:before {
	content: "\e60d";
}
.icon-bulb:before {
	content: "\e60e";
}
.icon-lab2:before {
	content: "\e60f";
}
.icon-diamond:before {
	content: "\e610";
}
.icon-pen:before {
	content: "\e611";
}
.icon-bubble:before {
	content: "\e612";
}
.icon-cassette:before {
	content: "\e613";
}
.icon-gamepad:before {
	content: "\e614";
}
.icon-dglasses:before {
	content: "\e615";
}
.icon-rocket2:before {
	content: "\e616";
}
.icon-lightning:before {
	content: "\e617";
}
.icon-atom2:before {
	content: "\e618";
}
.icon-yingyang:before {
	content: "\e619";
}
.icon-star2:before {
	content: "\e61a";
}
.icon-star-empty:before {
	content: "\e61b";
}
.icon-ok:before {
	content: "\e61c";
}
.icon-remove:before {
	content: "\e61d";
}
.icon-user2:before {
	content: "\e61e";
}
.icon-bolt:before {
	content: "\e61f";
}
.glyph {
	font-size: 16px;
	width: 15em;
	padding-bottom: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
	float: left;
	overflow: hidden;
}
.liga {
	width: 80%;
	width: calc(100% - 2.5em);
}
.talign-right {
	text-align: right;
}
.talign-center {
	text-align: center;
}
.bgc1 {
	background: #f1f1f1;
}
.fgc1 {
	color: #999;
}
.fgc0 {
	color: #000;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
.mvm {
	margin-top: .75em;
	margin-bottom: .75em;
}
.mtn {
	margin-top: 0;
}
.mtl, .mal {
	margin-top: 1.5em;
}
.mbl, .mal {
	margin-bottom: 1.5em;
}
.mal, .mhl {
	margin-left: 1.5em;
	margin-right: 1.5em;
}
.mhmm {
	margin-left: 1em;
	margin-right: 1em;
}
.mls {
	margin-left: .25em;
}
.ptl {
	padding-top: 1.5em;
}
.pbs, .pvs {
	padding-bottom: .25em;
}
.pvs, .pts {
	padding-top: .25em;
}
.clearfix {
	zoom: 1;
}
.unit {
	float: left;
}
.unitRight {
	float: right;
}
.size1of2 {
	width: 50%;
}
.size1of1 {
	width: 100%;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.noLiga-true {
	display: none;
}
.textbox0 {
	width: 3em;
	background: #f1f1f1;
	padding: .25em .5em;
	line-height: 1.5;
	height: 1.5em;
}
#testDrive {
	padding-top: 24px;
}
.fs0 {
	font-size: 16px;
}
.fs1 {
	font-size: 32px;
}
.fs2 {
	font-size: 32px;
}
.fs3 {
	font-size: 28px;
}
