<h1>Quizmaster#question</h1>

<% @questions = Question.all %>

  <%= render 'layouts/question' %><br>and..<%= params[:id]%>
  
  <%= render 'layouts/playersonline' %>

  <%= render 'layouts/facebook' %>