<h1>Quizzard</h1>

<h2 id="quizmaster-waiting">Waiting for players</h2>

<%= form_tag("/quizmaster/question/1/", :method=>"post") do %>
  <%= submit_tag("Start Quiz", :class=>"btn", :id=>"start-game") %>
<% end %>

<%= render 'layouts/playersonline' %>

<script type="text/javascript">
	var np = parseInt($('span#num-players-online').text(), 10);

	if(np < 1) {
		//console.log(numPlayersOnline)
		$('#start-game').hide();
		$('h2#quizmaster-waiting').show();
	}

	if(np > 1) {

	}
	showOnlinePlayers();		
</script>