<div id="facebook-widget">
  <% if current_player %>

    <%= image_tag(current_player.image, id: "avatar") %><br>
    Hi <strong><%= current_player.name %></strong>!<br>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
    <a href="auth/facebook" id="sign-in">Sign in with Facebook</a>
  <% end %>
  
</div>
